@font-face {
  font-family: Futura;
  src: url('/Futura-Medium.woff') format("WOFF");
  font-weight: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font: normal 14px sans-serif;
}
.width-100{
    width:100%;
}
.inline-block{
    display: inline-block;
}
.skrollr-desktop body {
    height:100% !important;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
h1{
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 70px;
    letter-spacing: 0em;
    line-height: 1em;
    text-transform: none;
}
h2{
    color: white;
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 52px;
    letter-spacing: .02em;
    line-height: 1.2em;
    text-transform: none;
}
h3{
    color: white;
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    letter-spacing: .04em;
}

.content-text{
    position: relative;
    overflow: hidden;
    padding: 10rem 0;
    background-color: #f0f7ff;
    -webkit-font-smoothing: subpixel-antialiased;
}

.logo {
    max-width: 94px;
}
.header {
    padding: 3rem 5rem;
}
.display-inline{
    display: inline;
}
.header-nav-item{
    font-family: sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    letter-spacing: .08em;
    text-transform: uppercase;
    margin: 0 1.13rem;
    text-decoration: none;
    color: white;
}

.header-right {
    float: right;
    display: inline-block;
    color: white;
    padding: 3rem;
}
.subText {
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    letter-spacing: .04em;
    color: white;
    text-transform: none;
    line-height: 1.5;
}
footer{
    background-color: #1c2430;
    -webkit-font-smoothing: antialiased;
    padding: 50px 60px 55px;
    overflow: hidden;
    color: white;
}
.footer-inner{
    padding: 100px 76px;
}
footer form{
    position: relative;
}
footer form input{
    box-sizing: border-box;
    font: inherit;
    font-size: 14px;
    font-weight: normal;
    color: #32383A;
    height: 70px;
    width: 70%;
    border-radius: 10px;
    padding: 18px 50px 18px 18px;
    outline: none;
    border: 1px solid #e0e0e0;
    box-shadow: 0 1px 1px #eee;
}
footer form input::-webkit-input-placeholder {
    color:  #5c666b;
}
footer h1{
    font-size: 40px;
}
footer h2{
    font-size: 30px;
}
.text-black{
    color: black;
}
.footer-nav-item{
    color: #485dc9;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 19px;
    letter-spacing: .07em;
    line-height: 1em;
    text-transform: uppercase;
}
.button{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 18px;
    border-radius: 33px;
    padding: 21px 34px;
    letter-spacing: .07em;
    line-height: 1em;
    text-transform: uppercase;
    color: #fff;
    background-color: #3944d5;
    border-color: #3944d5;
}
.button1{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 16px;
    border-radius: 33px;
    padding: 15px 25px;
    letter-spacing: .07em;
    line-height: 1em;
    text-transform: uppercase;
    color: #fff;
    background-color: #3944d5;
    border-color: #3944d5;
}
.parallax-container {
  height: 44rem;
  width: 100%;
}
.parallax-container2 {
  height: 76rem;
  width: 100%;
}
.p-b-35{
    padding-bottom: 35px;
}
.p-b-50{
    padding-bottom: 50px;
}
.privacy{
    opacity: .8;
    margin: 17px 0;
    padding: 0;
    font-size: 12px !important;
    line-height: normal;
}
.p-t-10{
    padding-top: 10rem;
}
.p-b-20{
    padding-bottom: 20px;
}
.p-lr-10{
    padding: 0 10px;
}
.text-white{
    color: white;
}
.fitness-header{
    padding: 10rem;
}
.subscribe{
    background-color: #1d2530;
    border: none;
    border-radius: 20px;
    padding: 60px;
    box-shadow: 3px 2px 80px #171e26;
}
.sign-up-button{
    border-radius: 10px;
    color: #3b4ad2;
    background-color: #fcfcfd;
    border: 1px solid #272727 !important;
    height: 70px;
    width: 28%;
    display: inline-block;
}